.input-block {
    margin: 0 0 5px;
    width: 100%;
    

    outline-color: #2D9CDB;

    border-radius: 4px;
    
}

input {
    background:#FAFAFC;
    height: 3rem;
    border: 1px solid#029ef8;
    padding: 10px;
}




